<div>
    <button class="btn btn-success pull-right" ng-click="showForm()" ng-hide="addFormShow">Add New Record</button>
    <button class="btn btn-warning pull-right" ng-click="hideForm()" ng-show="addFormShow">Hide Form</button>
    <a ng-href="#/register" class="btn btn-warning pull-right">Register New user</a> 
</div>

<div style="font-size:large">
        <p  class="text-center">Accommodation List</p>
    
    <div class="panel-heading">
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#/about">About</a></li>
        <li ><a href="#/success">Parks</a></li>
        <li><a href="#/accommodation">Accomodation</a></li>
        <li><a href="#/cities">Cities </a></li>
        <li><a href="#/events">Events</a></li>
        <li><a href="#/historical">Historical</a></li>
        <li><a href="#/lakes">Lake</a></li>
        <li><a href="#/mountains">Mountains</a></li>
        <li><a href="#/dictionary">Word Phrases</a></li>
        <li><a href="#/travel">Agents</a></li>
      </ul>
    </div>

</div>
 
<div class="container">
   
        <form name="userForm" ng-submit="addFormSubmit(userForm.$valid)" ng-show="addFormShow" novalidate>
  
        <div class="form-group" ng-class="{&#123; 'has-error' : userForm.name.$invalid && !userForm.name.$pristine && submitted}">
            <input type="text" class="form-control" ng-model="name" placeholder="Name" name="name" required />
            <!--p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Name is required.</p-->
        </div>
        <div class="form-group" ng-class="{&#123; 'has-error' : userForm.location.$invalid && !userForm.location.$pristine && submitted}">
            <input type="text" class="form-control" ng-model="location" placeholder="Location" name="location" required/>
            <!--p ng-show="userForm.reknown.$invalid && !userForm.reknown.$pristine" class="help-block">Location is required.</p-->
        </div>
        <div class="form-group" ng-class="{&#123; 'has-error' : userForm.telephone.$invalid && !userForm.telephone.$pristine && submitted}">
            <input type="text" class="form-control" ng-model="telephone" placeholder="Telephone" name="telephone" required/>
            <!--p ng-show="userForm.bio.$invalid && !userForm.bio.$pristine" class="help-block">Info is required.</p-->
        </div>
        <div class="form-group" ng-class="{&#123; 'has-error' : userForm.email.$invalid && !userForm.email.$pristine && submitted}">
            <input type="text" class="form-control" ng-model="email" placeholder="Email" name="email" required />
            <!--p ng-show="userForm.image.$invalid && !userForm.image.$pristine" class="help-block">Image is required.</p-->
        </div>
         <div class="form-group" ng-class="{&#123; 'has-error' : userForm.website.$invalid && !userForm.website.$pristine && submitted}">
            <input type="text" class="form-control" ng-model="website" placeholder="Website" name="website" required />
            <!--p ng-show="userForm.image.$invalid && !userForm.image.$pristine" class="help-block">Image is required.</p-->
        </div>
        <div class="form-group" ng-class="{&#123; 'has-error' : userForm.image.$invalid && !userForm.image.$pristine && submitted}">
            <input type="text" class="form-control" ng-model="image" placeholder="Image Path" name="image" required />
            <!--p ng-show="userForm.image.$invalid && !userForm.image.$pristine" class="help-block">Image is required.</p-->
        </div>
      
        <input type="submit" value="Add Accomodation" class="btn btn-default btn btn-primary"/>
       
    </form>

    <form ng-submit="editFormSubmit()" ng-show="editFormShow">
     
        <div class="form-group">
            <input type="text" class="form-control" ng-model="name" placeholder="Name" name="name" required />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="location" placeholder="Location" name="location" required/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="telephone" placeholder="Telephone" name="telephone" required/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="email" placeholder="Email" name="email" required />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="website" placeholder="Website" name="website" required />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="image" placeholder="Image" name="image" required />
        </div>
        
        <input type="submit" value="Edit Accommodation" class="btn btn-default btn-warning" ng-disabled="userForm.$invalid"/>
        <div>
            <button class="btn btn-warning" ng-click="hideForm()" ng-show="addFormShow">Hide Form</button>
        </div>
     
    </form>
    <div class="panel panel-body">
        <table class="table">
            <thead>
            <tr>
                <td><h3>Name</h3></td>
                <td><h3>Location</h3></td>
                <td><h3>Telephone</h3></td>
                <td><h3>Email</h3></td>
                <td><h3>Website</h3></td>
                <td><h3>Image Path</h3></td>
            </tr>
            </thead>
            <tbody>
             <tr ng-repeat="item in accommodation">
                <td>{{ item.name}}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.telephone }}</td>
                <td>{{item.email}}</td>
                <td>{{item.website}}</td>
                <td>{{item.image}}</td>
                
                 <td>
                    <button class="btn btn-primary" ng-click="showPark(item)" >Edit</button>&nbsp;
                    <button class="btn btn-danger" ng-click="deletePark(item)" >Delete</button>
                   
                </td>
            </tr>
            </tbody>
        </table>
       
    </div>
   
</div>
        
