<ion-view view-title="About Malawi">
  <ion-content class=" padding">
      
    <div class="list card animated bounceInLeft">
      <div class="item item-divider"><h3>The Warm Heart of Africa</h3></div>

      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card animated bounceInRight">
      <div class="item item-divider"><h3>Language</h3></div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card animated bounceInLeft">
      <div class="item item-divider"><h3>Lake Malawi</h3></div>

      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card animated bounceInRight">
      <div class="item item-divider"></div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
