<ion-view title="Contact Details">
  <div class="bar bar-subheader">
  </div>
  <ion-content>
     <ion-list class="list-inset">
       <ion-item class="item-text-wrap">
        <div class="list card">
           <img class="col button-row text-center" ng-src="{{accommodation.image}}" alt="Photo">
            <h3>{{ accommodation.name }}</h3>
            <a class="item item-icon-left"><i class="icon ion-android-pin"></i>Location<p>{{accommodation.location}}</p></a>
            <a class="item item-icon-left"><i class="icon ion-android-call"></i>Call Office<p>{{accommodation.telephone}}</p></a>
            <a class="item item-icon-left"><i class="icon ion-android-mail"></i>Email<p>{{accommodation.email}}</p></a>
            <a class="item item-icon-left"><i class="icon ion-social-google"></i>Website<p>{{accommodation.website}}</p></a>
        </div>
        </ion-item>
     </ion-list>
</ion-content>
</view>
