<ion-view view-title="Events and Adventure">
<!--content-->
<ion-content
  class="has-subheader">
  <ion-refresher on-refresh="doRefresh()">
  </ion-refresher>
  <ion-list show-reorder="allevents.showReorder">
    <ion-item ng-class="{'star': myEvent.star} item-text-wrap item-icon-right chat-item item-avatar item-icon-right"
    ng-repeat='myEvent in allevents | filter: query'
    class="item-thumbnail-left item-icon-right
      item-text-wrap" href="#/detailsLakeActivities/{{myEvent.$id}}">
      <img ng-src="{{myEvent.image}}" alt="Photo">
      <h3>{{myEvent.name}}</h3>
      <h2>{{myEvent.reknown}}</h2>
      <p>{{myEvent.bio | limitTo: 100}}
      {{ myEvent.bio.length > 150 ? '&hellip;' : '' }}</p>
       <i class="icon ion-arrow-right-b"></i>
      <button class="button button-clear icon ion-star button-assertive"
        ng-click="toggleStar(myEvent)"
        ng-show="myEvent.star"></button>
      <ion-option-button class="button-dark"
        ng-click="toggleStar(myEvent)">
        <i class="icon ion-star"></i>
      </ion-option-button>

      <ion-reorder-button class="ion-navicon"
        on-reorder="moveItem(myEvent, $fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
