<ion-view title="More Info">
  <ion-content>
    <ion-list class="list-inset">
      <ion-item class="item-text-wrap">
        <img ng-src="img/{{history.shortname}}_nt.jpg" alt="{{ history.name }} Photo">
          <h3>{{ history.name }}</h3>
          <h2>{{ history.reknown }}</h2>
          <p>{{ history.bio }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="item tabs tabs-secondary tabs-icon-left" >

     </button>
     <button class="button button-calm" ng-click="twitterShare()">
           <i class="icon ion-social-twitter"></i>
             Twitter
     </button>
     <button class="button button-positive" ng-click="FaceBookShare()">
           <i class="icon ion-social-facebook"></i>
             Facebook
     </button>
     <button class="button button-royal" ng-click="nativeShare()">
            <i class="icon ion-android-share-alt"></i>
              Share
     </button>


    </div><!--end div-->
  </ion-footer-bar>
</ion-view>
