<ion-view view-title="Discover Malawi">
  <ion-content header-shrink scroll-event-interval="5">
       <div style="height: 64px;"></div>

       <div class="list card"><!--start main div-->

         <div class="item item-avatar">
           <img src="img/tourism_logos80.jpg">
           <h3>Lake Malawi Activities</h3>
           <p>A Beach Like No Other</p>
         </div>

         <div class="item item-body">
             <a ng-href="#/lakeActivitiesList"><img class="full-image" ng-src="img/lakeMw.jpg"></a>
         </div>

       </div><!--end main div-->

       <div class="list card">

         <div class="item item-avatar">
             <img ng-src="img/tourism_logos80.jpg">
           <h3>Wild Life</h3>
           <p>Wild Life Reserves and National Parks</p>
         </div>

         <div class="item item-body">
            <a ng-href="#/parksReservesList"><img class="full-image" ng-src="img/gamereserve.jpg"></a>

         </div>

       </div><!--end main div-->

       <div class="list card"><!--start main div-->

         <div class="item item-avatar">
           <img ng-src="img/tourism_logos80.jpg">
           <h3>Events and Adventures</h3>
           <p>Nationwide</p>
         </div>

         <div class="item item-body">
           <a ng-href="#/eventsList"><img class="full-image" ng-src="img/adventure.jpg" ></a>
         </div>

       </div><!--end main div-->

       <div class="list card"><!--start main div-->

         <div class="item item-avatar">
           <img ng-src="img/tourism_logos80.jpg">
           <h3>Diary</h3>
           <p>My Own Diary</p>
         </div>

         <div class="item item-body">
           <a ng-href="#/list"><img class="full-image" ng-src="img/diary.jpg" ></a>
         </div>

       </div><!--end main div-->
       <div class="list card"><!--start main div-->

         <div class="item item-avatar">
           <img src="img/tourism_logos80.jpg">
           <h3>Word Phrases</h3>
           <p>English Chichewa Phrases</p>
         </div>

         <div class="item item-body">
             <a href="#/dictionary"><img class="full-image" ng-src="img/dictionary.jpg"></a>
         </div>
       </div><!--end main div-->

       <div class="list card"><!--start main div-->
         <div class="item item-avatar">
           <img ng-src="img/tourism_logos80.jpg">
           <h3>Mountains and Plateaus</h3>
           <p>Climbing, Abseiling, Walking, Mountain Biking and Trekking</p>
         </div>

         <div class="item item-body">
           <a ng-href="#/mountainList"><img class="full-image" ng-src="img/mountainmulanje.jpg" ></a>
         </div>

       </div><!--end main div-->

       <div class="list card"><!--start main div-->

         <div class="item item-avatar">
           <img ng-src="img/tourism_logos80.jpg">
           <h3>History Sites and Monuments</h3>
           <p>Monuments</p>
         </div>

         <div class="item item-body">
           <a ng-href="#/historicalsitesList"><img class="full-image" ng-src="img/kamuzubandamausoleum.jpg" ></a>
         </div>

       </div><!--end main div-->
       <div class="list card"><!--start main div-->

         <div class="item item-avatar">
           <img src="img/tourism_logos80.jpg">
           <h3>Cities</h3>
           <p>The best places to visit</p>
         </div>

         <div class="item item-body">
             <a href="#/citiesList"><img class="full-image" ng-src="img/cities.jpg"></a>
         </div>

       </div><!--end main div-->
       <div class="list card"><!--start main div-->
         <div class="item item-avatar">
           <img src="img/tourism_logos80.jpg">
           <h3>Travel Agents</h3>
           <p>Malawi Airlines</p>
         </div>
         <div class="item item-body">
             <a href="#/travel"><img class="full-image" ng-src="img/malawi_airlines.jpg"></a>
         </div>

       </div><!--end main div-->


     </ion-content>

</ion-view>
