<ion-view view-title="Lake Activities">
<!--content-->
<ion-content
  class="has-subheader">
  <ion-refresher on-refresh="doRefresh()">
  </ion-refresher>
  <ion-list show-reorder="alllakes.showReorder">
    <ion-item ng-class=" chat-item item-avatar item-icon-right"
    ng-repeat='myLake in lakes | filter: query'
    class="item-thumbnail-left item-icon-right
      item-text-wrap" href="#/detailsLakeActivities/{{myLake.$id}}">
      <img ng-src="{{myLake.image}}" alt="Photo">
      <h3>{{myLake.name}}</h3>
      <h2>{{myLake.reknown}}</h2>
      <p>{{myLake.bio | limitTo: 100}}
      {{ myLake.bio.length > 150 ? '&hellip;' : '' }}</p>
      <i class="icon ion-arrow-right-b"></i>
      <button class="button button-clear icon ion-star button-assertive"
        ng-click="toggleStar(myLake)"
        ng-show="myLake.star"></button>
      <ion-option-button class="button-dark"
        ng-click="toggleStar(myLake)">
        <i class="icon ion-star"></i>
      </ion-option-button>

      <ion-reorder-button class="ion-navicon"
        on-reorder="moveItem(myLake, $fromIndex, $toIndex)">
      </ion-reorder-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
