<ion-view view-title="Menu">
  <ion-pane>
     <ion-header-bar class="bar-stable">
       <h1 class="title">Ionic Blank Starter</h1>
     </ion-header-bar>
     <ion-content header-shrink scroll-event-interval="5">
       <div style="height: 64px;"></div>
       <div class="list card">

         <div class="item item-avatar">
           <img src="/img/tourism_logos80.png">
           <h1>Lake Malawi</h1>
           <p>A Beach Like No Other</p>
         </div>

         <div class="item item-body">
           <img class="full-image" ng-src="/img/lakeMw.jpg">

         </div>

         <div class="item tabs tabs-secondary tabs-icon-left">
           <a class="tab-item" href="#">
             <i class="icon ion-thumbsup"></i>
             Like
           </a>
           <a class="tab-item" href="#">
             <i class="icon ion-chatbox"></i>
             Comment
           </a>
           <a class="tab-item" href="#">
             <i class="icon ion-share"></i>
             Share
           </a>
         </div>

       </div>
       <div class="list card">

         <div class="item item-avatar">
             <ng-img src="/img/tourism_logos80.png">
           <h2>Wild Life</h2>
           <p>Wild Life Reserves</p>
         </div>

         <div class="item item-body">
           <img class="full-image" ng-src="/img/gamereserve.png">

         </div>

         <div class="item tabs tabs-secondary tabs-icon-left">
           <a class="tab-item" href="#">
             <i class="icon ion-thumbsup"></i>
             Like
           </a>
           <a class="tab-item" href="#">
             <i class="icon ion-chatbox"></i>
             Comment
           </a>
           <a class="tab-item" href="#">
             <i class="icon ion-share"></i>
             Share
           </a>
         </div>

       </div>
       <div class="list card">

         <div class="item item-avatar">
           <img ng-src="/img/tourism_logos80.png">
           <h1>Diving</h1>
           <p>Lake Malawi</p>
         </div>

         <div class="item item-body">
           <img class="full-image" src="/img/diving.png" >
           <a href="#/list"></a>
         </div>

         <div class="item tabs tabs-secondary tabs-icon-left">
           <a class="tab-item" href="#">
             <i class="icon ion-thumbsup"></i>
             Like
           </a>
           <a class="tab-item" href="#">
             <i class="icon ion-chatbox"></i>
             Comment
           </a>
           <a class="tab-item" href="#">
             <i class="icon ion-share"></i>
             Share
           </a>
         </div>

       </div>
     </ion-content>
   </ion-pane>
</ion-view>
