<ion-view view-title="Settings">
  <ion-content class=" padding">
    Settings Page. Sweet Settings
    <!--div class="has-subheader">
        <a href="#/visitplaces" class="button icon-left ion-star button-positive">Places to Visit</a>
    </div-->
    <div class="list card animated bounceInLeft">
  <div class="item item-divider">Recent Updates</div>

  <div class="item item-body">
    <div>
      There is a fire in <b>sector 3</b>
    </div>
  </div>
</div>
<div class="list card animated bounceInRight">
  <div class="item item-divider">Health</div>
  <div class="item item-body">
    <div>
      You ate an apple today!
    </div>
  </div>
</div>
<div >
  <a class="button button-calm" href="#/secure" ng-click="">Login</a>
</div>


  </ion-content>
</ion-view>
