<ion-view title="Travel Details">
  <div class="bar bar-subheader">
  </div>
  <ion-content>
     <ion-list class="list-inset">
       <ion-item class="item-text-wrap">
        <div class="list card">
          <img ng-src="{{travel.image}}" alt="Photo">
            <h3>{{ travel.name }}</h3>
            <a class="item item-icon-left"><i class="icon ion-android-pin"></i>Location<p>{{travel.location}}</p></a>
            <a href="tel:{{travel.telephone}}" class="item item-icon-left"><i class="icon ion-android-call"></i>Call Office<p>{{travel.telephone}}</p></a>
            <a class="item item-icon-left"><i class="icon ion-android-mail"></i>Email<p>{{travel.email}}</p></a>
            <a ng-href="{{travel.website}}" target="_self" onclick="window.open(this.href,'_self','location=yes')" class="item item-icon-left"><i class="icon ion-social-google"></i>Website<p>{{travel.website}}</p></a>
        </ion-item>
     </ion-list>
</ion-content>
</view>
